<article class="post-card">
  <a class="post-card-link" href="{{ include.post.url | relative_url }}">
    <time datetime="{{ include.post.date | date_to_xmlschema }}">{{ include.post.date | date: '%Y.%m.%d' }}</time>
    <h3>{{ include.post.title }}</h3>
    <div class="post-excerpt">{{ include.post.excerpt | strip_html | normalize_whitespace | truncate: 130 }}</div>
    {% if include.post.tags.size > 0 %}
      <ul class="tag-list" aria-label="タグ">
        {% for tag in include.post.tags %}<li>#{{ tag }}</li>{% endfor %}
      </ul>
    {% endif %}
  </a>
</article>

